main {
  width: 100%;
  .dialog-content {
    padding-top: 8px;
}
}

.adjust {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
}

.birth-date {
  width: 100%;
}

.street {
  width: 100%;
}
