<main>
  @if(loading) {

    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <h2 mat-dialog-title>Add User</h2>
  <mat-dialog-content class="dialog-content">


  <div class="adjust">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="First Name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Last Name" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="birth-date">
      <mat-label>Birth Date</mat-label>

      <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="picker" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="street">
      <mat-label>Street + House No.</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street" />
    </mat-form-field>
  </div>

  <div class="adjust">
    <mat-form-field appearance="outline">
      <mat-label>Zip code</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip code" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City" />
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button [disabled]="loading" mat-button >Cancel</button>
    <button [disabled]="loading" mat-flat-button color="primary" (click)="saveUser()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</mat-dialog-content>
</main>
