main {
  width: 90%;
  padding: 18px;
}

.adjust {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 8px;
  width: 90%;
}

.birth-date {
  padding: 8px;
  width: 90%;
}

.street {
  padding: 8px;
  width: 90%;
}

